.naturecandle {
    background-image: url("/public/images/bg-image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: #F7F8FACC;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 349px;
}



/* Title Styling */
.naturecandle h1 {
    font-size: 28px;
    color:#1D252C;
    font-weight: 600;
    
}

/* Description Text */
.naturecandle p {
    font-size: 18px;
    color:#1D252C;
    margin: 10px 0 20px;
    gap:10px;
    margin-top: 20px;
    
}

/* Button Styling */
.Discovery-Button {
    background-color: #56B280 ;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px; /* More rounded */
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    margin-top: 40px;
}

.Discovery-Button:hover {
    background-color: #55946d;
    transform: scale(1.05); /* Slight hover effect */
}
