.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
    background-color: #f9f9f9;
    height: 80vh;
}

.product-image {
    flex: 1;
    max-width: 400px;
    text-align: center;
    margin-bottom: 7px;
}

.product-detailed-image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height:45vh;
}

.product-image p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.free-shipping {
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-top: 10px;
}

/* Product Information Section */
.product-info {
    flex: 1;
    max-width: 500px;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin: 10px 0;
}

/* Quantity Section */
.quantity {
    margin: 20px 0;
}

.quantity label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.quantity-number{
    width: 30px;
    height: 30px;
}

.quantity-box button {
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.quantity-box input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-to-cart {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background: darkgreen;
}

/* Product Specifications */
.product-specs {
    margin-top: 20px;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 8px;
}

.product-specs p {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.product-specs strong {
    color: black;
}
.product-placeholder-box{
    height: 45vh;
    background-color:#ddd;
    border-radius:10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


