.benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}


.benefits-text {
    max-width: 50%;
    margin-bottom: 120px;
}

.benefits-heading p {
    font-size: 60px;
    color:#1D252C;

    margin-top: 60px;
}

.highlight {
    color: #1f4e2e; 
}

.benefits-heading h2 {
    color: #56B280;

    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;
}


.benefits-list {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.benefits-list li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}


.learn-more-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 50px;
}

.learn-more-btn:hover {
    background-color: #388E3C;
}


.benefits-image img {
    width: 400px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}
